<button type="button" class="match-btn match-btn--start btn{% if not isBreak %} btn--major{% endif %}"{% if not isIdle %} disabled{% endif %}>Inicio</button>
<button type="button" class="match-btn match-btn--end btn{% if not isBreak %} btn--major{% endif %}"{% if not isStarted or isInjury %} disabled{% endif %}>Fin</button>
<button type="button" class="match-btn match-btn--injury btn btn--minor"{% if not (canStartInjury or isInjury) %} disabled{% endif %}>{{ 'Finalizar' if isInjury else 'Iniciar' }} Pausa</button>
